.smallpages > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: left;
}

.smallpages {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F5F5DC;
}

.text-container {
    max-width: 600px;
    font-size: 4.2rem;
    line-height: 3.2;
}

.text-container::after {
    content: ''; 
    position: absolute;
    top: 0;
    right: -1rem;
    width: 0; 
    height: 0; 
    background-color: transparent; 
}

.text-container h1 {
    font-size: 3rem; 
    margin-bottom: 1.5rem; 
    position: relative;
    line-height: 1.2;
}

.text-container h1::after {
    content: '';
    display: block;
    width: 85%; 
    height: 10px; 
    background-color: #C19A6B; 
    margin: 1rem auto 0;
}

.text-container .explanation {
    font-size: 1.2rem; 
    line-height: 1.5; 
    text-align: center;
    color: #333; 
    margin: 0 auto 2rem; 
    text-align: left; 
    max-width: 100%; 
}

.smallpages img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.major_events .events-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.major_events .event {
    text-align: center;
    max-width: 250px;
}

.major_events .event img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.major_events .event h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    color: #6B4F4F;
    text-align: center;
}

.major_events .event p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    text-align: center;
}

.major_events h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.major_events h1::after {
    content: '';
    display: block;
    width: 25%;
    height: 10px;
    background-color: #C19A6B;
    margin: 1rem auto 0;
}

.explanation {
    font-size: 1.2rem; 
    line-height: 1.5; 
    text-align: center;
}

.membership {
    background: url('about_img/about_membership.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 10rem 1rem; 
    position: relative;
}

.membership-content {
    max-width: 100%;
    margin: 0 auto;
}

.membership h1 {
    font-size: 3rem;
    max-width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.membership h1::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background-color: #C19A6B;
    margin: 1rem auto 0;
}

.membership p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    text-align: center;
}

.membership .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #B069DB;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.membership .btn:hover {
    background-color: #8A2BE2;
}